
            <h1>Dashboard</h1>
            <p class="lead mb-3">Welcome <%= name %></p>
            
            <a href="/users/Logout" class="btn btn-secondary">Loggout</a>
        </div>
    </div>
</body>
</html>